Pillow
PyGithub
aiofiles
aiohttp
aria2p
async_generator
beautifulsoup4
bs4
bwb
cfscrape
coffeehouse
cowpy
cryptg
cffi
dnspython
deezloader
emoji
geopy
gTTS-token
gTTS
gitpython
google-api-python-client
google-auth-oauthlib
google_images_download
googletrans
gsearch
hachoir
heroku3
httplib2
humanize
lxml
oauth2client
psycopg2
psycopg2-binary
pySmartDL
pybase64
pyfiglet
pymongo
python-barcode
python-dotenv
python-magic
pytube
pytz
qrcode
regex
requests
search-engine-parser
selenium
speedtest-cli
sqlalchemy
telegraph
asyncurban
urbandict
wikipedia
youtube-dl
instantmusic
covid
pylast
PyLyrics
psutil
wget
justwatch
bitlyshortener
telethon
telethon-session-sqlalchemy
twitter_scraper
python-dateutil
git+https://github.com/johnwmillr/LyricsGenius.git
pyaztro
