aiofiles
aiohttp
aria2p
async_generator
asyncurban
beautifulsoup4
bitlyshortener
bs4
bwb
cffi
cfscrape
covid
cowpy
cryptg
deezloader
dnspython
emoji
geopy
git+https://github.com/johnwmillr/LyricsGenius.git
gitpython
google_images_download
google-api-python-client
google-auth-oauthlib
googletrans
gsearch
gTTS
gTTS-token
hachoir
heroku3
html_telegraph_poster
httplib2
humanize
jikanpy
justwatch
lxml
oauth2client
pendulum
Pillow
psutil
psycopg2
psycopg2-binary
pyaztro
pybase64
pyfiglet
PyGithub
pylast
PyLyrics
pymongo
pySmartDL
python-barcode
python-dateutil
python-dotenv
python-magic
pytube
pytz
qrcode
regex
requests
search-engine-parser
selenium
speedtest-cli
sqlalchemy
telegraph
telethon
telethon-session-sqlalchemy
twitter_scraper
urbandict
validators
wget
wikipedia
youtube-dl
youtube_search